@import '../../Sass/Mixins.scss';
@import '../../Sass/Variables.scss';

.Casting {
    position: relative;
    @include flex(column, nowrap, space-between, unset);    
    @include dimensions( 100vh, 100%);
    // @include backgroundImage("../../assets/Images/signUpImage.jpg");
    .videoControls {
        position: absolute;
        width: 400px;
        left: 50%;
        top: 50%;
        border-radius: 43px;
        z-index: 9999999;
        transform: translate(-50%,-50%);
        @include flex(row, nowrap, space-between, center);
        .backwardSec {
            position: absolute;
            color: #FFFFFF;
            z-index: -1;
            left: 23px;
            @include font(20px, 500);
        }
        .forwardSec {
            position: absolute;
            color: #FFFFFF;
            z-index: -1;
            right: 25px;
            @include font(20px, 500);
        }
    }
    .videoControls > img {
        height: 70px;
        width: 70px;
        cursor: pointer;
    }
    .rangeSlider {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 70%;
        z-index: 99999999;
        .hiddenSeekbar {
            position: absolute;    
            z-index: 99999;
            margin-left: 3px;
        }
        .segmentTime {
            position: absolute;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Cabin';
            font-size: 22px;
            width: 75px;
            left: -75px;
            font-weight: bold;
            color: #fff;
        }
        .activityTime {
            position: absolute;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Cabin';
            font-size: 22px;
            width: 75px;
            right: -95px;
            font-weight: bold;
            color: #fff;
        }
        .activityTime1 {
            position: absolute;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Cabin';
            width: 82px;
            right: -192px;
            font-weight: bold;
            color: #fff;
            font-size: 24px;
            text-align: right;
        }
        .segmentName {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            text-shadow: 2px 2px 4px #000000;
            font-family: 'Cabin';
            text-align: center;
            font-size: 24px;
            width: 180px;
            top: 0px;
            right: -142px;
            font-weight: bold;
            color: #fff;
        }
    }

    .infoBox {
        padding: 15px 20px 15px 20px;
        margin-top: 5px;
        @include flex(row, nowrap, space-between, center);
        .infoImageBox {
            @include flex(column, nowrap, space-evenly, center);
            @include dimensions(70px, 130px);
            background: rgba(0, 0, 0, 0.6);
            background: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(12px);
            border-radius: 8px;
            border: 1px solid #FFFFFF;
            .infoImage{
                // @include dimensions(37px, 60px);
                @include dimensions(86%, 90%);
                object-fit: cover;
            }        
        }
        .infoImageBox > p {
            font-family: 'Cabin';
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            margin: 0;   
        }
        .time {
            width: 85px;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 85px;
            // border: 4px solid #424242;
            // border-radius: 57px;
            position: relative;
                .innerCircle {
                    height: 70px;
                    width: 70px;
                    border: 2px solid #868686;
                    border-radius: 42px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .innerCircle > p {
                    font-family: 'Cabin';
                    font-size: 21px;
                    font-weight: bold;
                    color: #fff;
                    width: 56px;
                    margin: 0;
                }
                .newInnerCircle > p {
                    font-family: 'Cabin';
                    font-size: 16px;
                    font-weight: bold;
                    color: #fff;
                    width: 56px;
                    margin: 0;
                }

            P {
                text-shadow: 2px 2px 4px #000000;
                // text-shadow: 1px 2px #000000;
                font-family: 'Cabin';
                font-size: 32px;
                font-weight: bold;
                color: $_white;        
            }
        }
    }
    .membersBox {
        @include flex(row, nowrap, unset, flex-start);
        position: relative;
        margin-bottom: 20px;
        min-height: 300px;
        height: 500px;
        .hideVideo {
            position: absolute;
            top: 10%;
            font-family: Cabin;
            font-style: normal;
            right: -18.9%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 10px;
            width: 45px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .hideVideoNew {
            position: absolute;
            top:10%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 45px;
            cursor: pointer;
            z-index: 999999;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .hideUnhide {
            position: absolute;
            top: 10%;
            left: -11.2%;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 45px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.6);

        }
        .hideUnhidenew {
            position: absolute;
            top: 10%;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 45px;
            z-index: 999999;
            right: 0;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0,0,0,0.6);

        }
        .videoContainer {
            height: 100%;
            .videoSubContainer {
                height: 100%;
                overflow-y: scroll;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                transition-property: opacity;
                transition-duration: 0.2s;
                transition-timing-function: linear;
                transition-delay: 0.1s;                
                .friendsBox {
                    width: 240px;
                    .friendsTitle {
                        position: fixed;
                        z-index: 99999;
                        width: 260px;
                        background-color: $_black;                                   
                        padding: 20px;
                        border-top-right-radius: 10px;
                        p {
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 22px;
                            color: #FFFFFF;
                        }
                    }
                    .videoList {
                        padding: 15px 10px 10px 10px;
                        background: rgba(0, 0, 0, 0.6);
                        @include flex(column, nowrap, space-between, center);
                    }
                }
            }
        }
        .boardContainer {
            height: 100%;
            width: 400px;
            .boardSubContainer {
                max-height: 100%;
                background: rgba(0, 0, 0, 0.6);
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                transition-property: opacity;
                transition-duration: 0.2s;
                transition-timing-function: linear;
                transition-delay: 0.1s;                
                @include flex(column, nowrap, flex-start, center);
                .toggleContainer {
                    @include flex(row, nowrap, space-between, center);
                    width: 300px;
                    .membersCount {
                        padding: 8px 0px;
                        width: 240px;
                        border-radius: 8px;                      
                        margin-top:12px;  
                        margin-bottom: 10px;
                        background: #424242;
                        @include flex(row, nowrap, center, center);
                    }
                    .membersCount img {
                        height: 25px;
                        width: 30px;
                        margin-right: 8px;
                    }
                    .membersCount p {
                        margin: 0;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        color: #FFFFFF;
                        font-family: Cabin;
                        font-style: normal;
                    }
                    .membersCountSelected {
                        cursor: pointer;
                        padding: 8px 0px;
                        width: 150px;
                        border-radius: 8px;                      
                        margin-top:12px;  
                        margin-bottom: 10px;
                        // background: #424242;
                        @include flex(row, nowrap, center, center);
                    }
                    .membersCountSelected img {
                        height: 25px;
                        width: 30px;
                        margin-right: 8px;
                    }
                    .membersCountSelected p {
                        margin: 0;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 34px;
                        color: #FFFFFF;
                        font-family: Cabin;
                        font-style: normal;
                    }
                    .chatIcon {
                        position: relative;
                        .messageCount {
                            position: absolute;
                            right:-6px;
                            top:-12px;
                            cursor: pointer;
                            width: 20px;        
                            height: 20px;        
                            background: #FF001F;
                            border-radius: 20px;
                            @include flex(row, nowrap, center, center);
                        }
                        .messageCount p {
                            color: #FFFFFF;
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: bolder;
                            font-size: 14px;
                        }
                    }
                    .chatIcon img{ 
                        cursor: pointer;    
                        height: 27px;
                    }
                    .chatIconSelected {
                        background: #424242;
                        padding: 8px 40px;
                        border-radius: 8px;
                    }
                    .chatIconSelected img {
                        height: 27px;
                    }
                }
                .memberListContainer {
                    width: 370px;
                    min-height: 200px;
                    overflow-y: scroll;
                    @include flex(column, nowrap, flex-start, center);
                   }               
                .chatListContainer {
                    width: 370px;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 8px;
                    background: #424242;
                    min-height: 200px;
                    height:400px;
                    overflow-y: scroll;
                    @include flex(column, nowrap, flex-start, center);
                    .chatList {
                        width: 100%;
                        overflow-y: scroll;
                        @include flex(column-reverse, nowrap, flex-start, unset);                          
                        height:  calc(100% - 40px);
                        .messageBox {
                            width: 100%;
                            display: flex;
                            margin: 4px 0px;
                            padding: 10px 0px;                            
                            justify-content: flex-end;
                            align-items: flex-end;
                            .message {
                                width: 230px;
                                padding: 10px;     
                                border-radius: 8px;
                                position: relative;
                                .senderName {
                                    margin: 0;
                                    color: #FFFFFF;
                                    text-align: right;
                                    font-size: 11px;
                                    font-family: Cabin;
                                    font-style: normal;
                                    font-weight: normal;
                                }
                            }
                            .message span {
                                position: absolute;
                                top: -20px;
                                color: #FFFFFF;
                                font-family: Cabin;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 13px;
                            }
                            .message p {
                                margin: 0;
                                font-size: 15px;
                                font-family: Cabin;
                                font-style: normal;
                                font-weight: normal;
                                word-break: break-word;
                            }
                        }
                        .messageBox img {
                            background-image: url("../../assets/Images/dummy.jpg");
                            background-size: cover;
                            height: 30px;
                            width: 30px;
                            border-radius: 20px;
                            object-fit: cover;
                        }
                    }
                    .chatBox {
                        width: 100%;
                        position: relative;
                        @include flex(row, nowrap, space-between, center);    
                        .sendButton {
                            background: #FF0042;
                            border-radius: 7px;   
                            padding: 10px;
                            height: 45px;
                            width: 45px;
                            cursor: pointer;
                            @include flex(row, nowrap, center, center);    
                        }
                        .sendButton img {
                            height: 18px;
                        }
                        .selectedUser {
                            height: 30px;
                            right:60px;
                            position: absolute;
                            width: 30px;
                            cursor: pointer;
                            border-radius: 7px;
                            background: #282828;
                            @include flex(row, nowrap, center, center);    
                        }
                        .selectedUser img {
                            height: 24px;
                        }
                        .chatDropDown {
                            position: absolute;    
                            width:125px;
                            right: 0;
                            // top: -140px;
                            bottom: 50px;
                            padding: 0px 0px 0px 10px;
                            background: #282828;
                            box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
                            border-radius: 8px;
                            .selUserType {
                                cursor: pointer;
                                border-image: linear-gradient(
                                    80deg,#28282828,#FFFFFF,#28282828) 10;
                                @include flex(row, nowrap, flex-start, center);    
                            }
                            .selUserType img {
                                margin-right: 10px;
                                height: 26px;
                            }
                            .selUserType p {
                                color: #FFFFFF;
                                font-family: Cabin;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 14px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .chatBox input {
                        width: 300px;
                        height: 45px; 
                        outline: none !important;
                        padding: 10px 45px 10px 10px;
                        border-radius: 7px;
                        border: 1px solid #FFFFFF;
                        background: #FFFFFF;
                        font-size: 14px;
                        font-family: Cabin;
                        font-style: normal;
                        font-weight: 300;
                    }
                    .chatBox input::placeholder {
                        font-family: Cabin;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        color: #C1C1C1;
                      }
                      
                      .chatBox input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        font-family: Cabin;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        color: #C1C1C1;
                      }
                      
                      .chatBox input::-ms-input-placeholder { /* Microsoft Edge */
                        font-family: Cabin;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        color: #C1C1C1;
                      }
                   }               
            }
           
        }        
    }
    .statsContainer {
        position: relative; 
        .showStats {
            position: absolute;
            margin: 0;
            z-index: 99999;
            right: 49%;
            @include flex(row, nowrap, space-evenly, center);
            width: 45px;
            bottom: 0;
            padding: 10px 0px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .fullScreen {
            position: absolute;
            right: 2%;
            outline: none !important;
            bottom: 20%;
            @include flex(row, nowrap, center, center);
            @include dimensions(60px, 60px);
            // background: rgba(0, 0, 0, 0.5);     
            .fullScreenImage {
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                cursor: pointer;
                outline: none !important;
                @include dimensions(40px, 50px);            
            }
            .audioIcon {
                height: 24px;
                width: 30px;
                outline: none !important;
                position: absolute;
                cursor: pointer;
                top:20px;
                left: -45px;
            }
        }
        .statsBox {
            padding: 0px 40px;
            width: 570px;
            height:100px;
            position: relative;
            margin:0px auto;
            position: relative;
            .statsImage {
                position: absolute;
                width: 490px;
                bottom: 0;
                opacity: 0.6;
            }
            .hideStats {
                z-index: 99999; 
                position: absolute;
                right: 46%;
                top: -20%;
                padding: 10px 0px;
                @include flex(row, nowrap, space-evenly, center);
                width: 45px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.6);
            }
    
       }
    }

}


@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .infoBox {
            padding: 10px 10px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(60px, 60px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(45px, 45px);
                }        
            }
            .time {
                position: relative;
                .audioIcon {
                    color: rgb(255, 255, 255);
                    position: absolute;
                    top: 0;
                    font-size: 25px;
                    cursor: pointer;
                    left: -65%;
                }
                P {
                    @include font(24px, bold);  
                    margin:0;
                    color: $_white;        
                }
            }

        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 150px;
            height: 500px;
            .hideVideo {
                position: absolute;
                top:3%;
                font-family: Cabin;
                font-style: normal;
                right: -32%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 7px 10px;
                width: 68px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -26%;
                display: flex;
                align-items: center;
                width:68px;
                justify-content: space-evenly;
                padding: 7px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
            .friendsBox {
                width: 170px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                .friendsTitle {
                    position: fixed;
                    z-index: 99999;
                    width: 170px;
                    background-color: $_black;                                   
                    padding: 15px 20px;
                    border-top-right-radius: 10px;
                    p {
                        color: $_white;
                        margin: 0;
                        @include font(15px, bold);
                    }
                }
                .videoList {
                    padding: 65px 10px 10px 10px;
                    border-bottom-right-radius: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    @include flex(column, nowrap, space-between, center);
                }
            }
        }
    }
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 230px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 230px;
                            background-color: $_black;                                   
                            padding: 16px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(15px, bold);
                            }
                        }            
                        .userList {
                            padding-top: 50px;
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
        
        }
        .statsContainer {
            position: relative;        
            .fullScreen {
                position: absolute;
                right: 2%;
                bottom: 20%;
                @include flex(row, nowrap, center, center);
                @include dimensions(45px, 60px);
                // background: rgba(0, 0, 0, 0.5);     
                .fullScreenImage {
                    cursor: pointer;
                    @include dimensions(30px, 40px);            
                }
            }

        }
       .statsBox {
        padding: 10px 16px;
        width: 350px;
            margin:0px auto;
            border-top-right-radius: 32px;
            border-top-left-radius: 32px;
            background: rgba(0, 0, 0, 0.7);
       }
    }
 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .infoBox {
            padding: 10px 10px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(60px, 60px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(45px, 45px);
                }        
            }
            .time {
                position: relative;
                .audioIcon {
                    color: rgb(255, 255, 255);
                    position: absolute;
                    top: 0;
                    font-size: 25px;
                    cursor: pointer;
                    left: -65%;
                }
                P {
                    @include font(24px, bold);  
                    margin:0;
                    color: $_white;        
                }
            }

        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 150px;
            height: 500px;
            .hideVideo {
                position: absolute;
                top:3%;
                font-family: Cabin;
                font-style: normal;
                right: -32%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 7px 10px;
                width: 68px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -26%;
                display: flex;
                align-items: center;
                width:68px;
                justify-content: space-evenly;
                padding: 7px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
            .friendsBox {
                width: 170px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                .friendsTitle {
                    position: fixed;
                    z-index: 99999;
                    width: 170px;
                    background-color: $_black;                                   
                    padding: 15px 20px;
                    border-top-right-radius: 10px;
                    p {
                        color: $_white;
                        margin: 0;
                        @include font(15px, bold);
                    }
                }
                .videoList {
                    padding: 58px 10px 10px 10px;
                    border-bottom-right-radius: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    @include flex(column, nowrap, space-between, center);
                }
            }
        }
    }
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 230px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 230px;
                            background-color: $_black;                                   
                            padding: 16px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(15px, bold);
                            }
                        }            
                        .userList {
                            padding-top: 50px;
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
        
        }
        .statsContainer {
            position: relative;        
            .fullScreen {
                position: absolute;
                right: 2%;
                bottom: 20%;
                @include flex(row, nowrap, center, center);
                @include dimensions(45px, 60px);
                // background: rgba(0, 0, 0, 0.5);     
                .fullScreenImage {
                    cursor: pointer;
                    @include dimensions(30px, 40px);            
                }
            }

        }
        .statsContainer {
            position: relative;        
            .showStats {
                position: absolute;
                z-index: 99999;
                right: 50%;
                @include flex(row, nowrap, space-evenly, center);
                width: 65px;
                bottom: 0;
                padding: 8px 0px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .statsBox {
                padding: 0px 40px;
                width: 570px;
                height:100px;
                position: relative;
                margin:0px auto;
                position: relative;
                .statsImage {
                    position: absolute;
                    width: 490px;
                    bottom: 0;
                }
                .hideStats {
                    position: absolute;
                    z-index: 99999;
                    left: 42%;
                    top: -43%;
                    width: 58px;
                    padding: 6px 0px;
                    @include flex(row, nowrap, space-evenly, center);
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.8);
                }
           }
        }
    }
 }



@media screen and (min-width: 768px)and (max-width: 1023px) {  
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .infoBox {
            padding: 0px 20px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(60px, 60px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(45px, 45px);
                }        
            }
            .time P {
                @include font(35px, bold);  
                color: $_white;        
            }
        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 150px;
            height: 500px;
            .hideVideo {
                position: absolute;
                top:3%;
                right: -32%;
                font-family: Cabin;
                font-style: normal;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -29%;
                display: flex;
                align-items: center;
                width:90px;
                justify-content: space-evenly;
                padding: 10px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
            .friendsBox {
                width: 215px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                .friendsTitle {
                    position: fixed;
                    z-index: 99999;
                    width: 215px;
                    background-color: $_black;                                   
                    padding: 15px 20px;
                    border-top-right-radius: 10px;
                    p {
                        color: $_white;
                        margin: 0;
                        @include font(20px, bold);
                    }
                }
                .videoList {
                    padding: 63px 10px 10px 10px;
                    border-bottom-right-radius: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    @include flex(column, nowrap, space-between, center);
                }
            }
        }
    }
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 260px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 260px;
                            background-color: $_black;                                   
                            padding: 20px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(18px, bold);
                            }
                        }            
                        .userList {
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
        
        }
        .statsContainer {
            position: relative;        
            .showStats {
                position: absolute;
                z-index: 99999;
                right: 50%;
                @include flex(row, nowrap, space-evenly, center);
                width: 80px;
                bottom: 0;
                padding: 10px 0px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .statsBox {
                padding: 0px 40px;
                width: 570px;
                height:100px;
                position: relative;
                margin:0px auto;
                position: relative;
                .statsImage {
                    position: absolute;
                    width: 490px;
                    bottom: 0;
                }
                .hideStats {
                    position: absolute;
                    z-index: 99999;
                    right: -12%;
                    top: 34%;
                    width: 57px;
                    padding: 7px 0px;
                    @include flex(row, nowrap, space-evenly, center);
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.8);
                }
           }
        }
    }
 }

@media screen and (min-width: 1024px)and (max-width: 1223px) {  
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .videoControls {
            position: absolute;
            width: 300px;
            left: 50%;
            top: 50%;
            z-index: 9999999;
            transform: translate(-50%,-50%);
            @include flex(row, nowrap, space-between, center);
        }
        .videoControls > img {
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
        .rangeSlider {
            position: absolute;
            top: 50px;
            left: 12%;
            width: 71%;
            z-index: 99999999;
        }
        .infoBox {
            padding: 0px 20px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(90px, 90px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(60px, 60px);
                }        
            }
            .time P {
                @include font(35px, bold);  
                color: $_white;        
            }
        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 200px;
            height: 500px;
            .hideVideo {
                position: absolute;
                top:3%;
                font-family: Cabin;
                font-style: normal;
                right: -32%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -29%;
                display: flex;
                align-items: center;
                width:90px;
                justify-content: space-evenly;
                padding: 10px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
            .friendsBox {
                width: 220px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                .friendsTitle {
                    position: fixed;
                    z-index: 99999;
                    width: 220px;
                    background-color: $_black;                                   
                    padding: 15px 20px;
                    border-top-right-radius: 10px;
                    p {
                        color: $_white;
                        margin: 0;
                        @include font(20px, bold);
                    }
                }
                .videoList {
                    padding: 68px 10px 10px 10px;
                    border-bottom-right-radius: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    @include flex(column, nowrap, space-between, center);
                }
            }
        }
    }
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 300px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 300px;
                            background-color: $_black;                                   
                            padding: 20px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(20px, bold);
                            }
                        }            
                        .userList {
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
        
        }
        .statsContainer {
            position: relative;        
            .showStats {
                position: absolute;
                z-index: 99999;
                right: 50%;
                @include flex(row, nowrap, space-evenly, center);
                width: 80px;
                bottom: 0;
                padding: 10px 0px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .statsBox {
                padding: 0px 40px;
                width: 570px;
                height:100px;
                position: relative;
                margin:0px auto;
                position: relative;
                .statsImage {
                    position: absolute;
                    width: 490px;
                    bottom: 0;
                }
                .hideStats {
                    position: absolute;
                    z-index: 99999;
                    right: -10%;
                    top: 31%;
                    width: 63px;
                    padding: 10px 0px;
                    @include flex(row, nowrap, space-evenly, center);
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.8);
                }
           }
        }

    }
 }

@media screen and (min-width: 1224px)and (max-width: 1500px) { 
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .videoControls {
            position: absolute;
            width: 350px;
            left: 50%;
            top: 50%;
            z-index: 9999999;
            transform: translate(-50%,-50%);
            @include flex(row, nowrap, space-between, center);
        }
        .videoControls > img {
            height: 60px;
            width: 60px;
            cursor: pointer;
        }
        .rangeSlider {
            width: 70%;
            z-index: 99999999;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .segmentTime {
                position: absolute;
                text-shadow: 2px 2px 4px #000000;
                font-family: 'Cabin';
                font-size: 18px;
                width: 60px;
                left: -60px;
                font-weight: bold;
                color: #fff;
            }
            .activityTime {
                position: absolute;
                text-shadow: 2px 2px 4px #000000;
                font-family: 'Cabin';
                font-size: 18px;
                width: 65px;
                right: -77px;
                font-weight: bold;
                color: #fff;
            }
            .activityTime1 {
                position: absolute;
                text-shadow: 2px 2px 4px #000000;
                font-family: 'Cabin';
                font-size: 24px;
                width: 82px;
                text-align: right;
                right: -150px;
                font-weight: bold;
                color: #fff;
            }
            .segmentName {
                position: absolute;
                text-shadow: 2px 2px 4px #000000;
                font-family: 'Cabin';
                text-align: center;
                font-size: 20px;
                width: 170px;
                top: 0px;
                right: -122px;
                font-weight: bold;
                color: #fff;
            }
        }
        .infoBox {
            padding: 15px 20px 15px 20px;
            margin-top: 5px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(column, nowrap, space-evenly, center);
                @include dimensions(65px, 110px);
                background: rgba(0, 0, 0, 0.6);
                border-radius: 8px;
                border: 1px solid #FFFFFF;
                .infoImage{
                    @include dimensions(86%, 90%);
                    object-fit: cover;
                }        
            }
            .infoImageBox > p {
                font-family: 'Cabin';
                font-size: 13px;
                font-weight: bold;
                color: #fff;
                margin: 0;   
            }
            .time {
                width: 75px;
                align-items: center;
                justify-content: center;
                display: flex;
                height: 75px;
                // border: 4px solid #424242;
                // border-radius: 57px;
                position: relative;
                    .innerCircle {
                        height: 60px;
                        width: 60px;
                        border: 2px solid #868686;
                        border-radius: 42px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                    .innerCircle > p {
                        font-family: 'Cabin';
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        width: 52px;
                        margin: 0;
                    }
                    .newInnerCircle > p {
                        font-family: 'Cabin';
                        font-size: 15px;
                        font-weight: bold;
                        color: #fff;
                        width: 56px;
                        margin: 0;
                    }
    
                P {
                    text-shadow: 2px 2px 4px #000000;
                    // text-shadow: 1px 2px #000000;
                    font-family: 'Cabin';
                    font-size: 32px;
                    font-weight: bold;
                    color: $_white;        
                }
            }
        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 200px;
            height: 550px;
            .hideVideo {
                position: absolute;
                top: 8%;
                right: -19.5%;
                display: flex;
                font-family: Cabin;
                font-style: normal;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px 10px;
                width: 45px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0,0,0,0.6);
            }
            .hideVideoNew {
                position: absolute;
                top:8%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 45px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.6);
            }
            .hideUnhide {
                position: absolute;
                top: 8%;
                left: -12.2%;
                display: flex;
                align-items: center;
                width: 45px;
                justify-content: space-evenly;
                padding: 10px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0,0,0,0.6);
    
            }
            .hideUnhidenew {
                position: absolute;
                top: 8%;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 45px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.6);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
                    .friendsBox {
                        width: 230px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        .friendsTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 230px;
                            background-color: $_black;                                   
                            padding: 15px 20px;
                            border-top-right-radius: 10px;
                            p {
                                color: $_white;
                                margin: 0;
                                @include font(20px, bold);
                            }
                        }
                        .videoList {
                            padding: 18px 10px 10px 10px;
                            border-bottom-right-radius: 10px;
                            background: rgba(0, 0, 0, 0.5);
                            @include flex(column, nowrap, space-between, center);
                        }
                    }
                }
            }
          
            .boardContainer {
                height: 100%;
                width: 370px;
                .boardSubContainer {
                    max-height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    @include flex(column, nowrap, flex-start, center);
                    .toggleContainer {
                        @include flex(row, nowrap, space-between, center);
                        width: 300px;
                        .membersCount {
                            padding: 5px 0px;
                            width: 240px;
                            border-radius: 8px;                      
                            margin-top:12px;  
                            margin-bottom: 10px;
                            background: #424242;
                            @include flex(row, nowrap, center, center);
                        }
                        .membersCount img {
                            height: 25px;
                            width: 30px;
                            margin-right: 8px;
                        }
                        .membersCount p {
                            margin: 0;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 34px;
                            color: #FFFFFF;
                            font-family: Cabin;
                            font-style: normal;
                        }
                        .membersCountSelected {
                            cursor: pointer;
                            padding: 5px 0px;
                            width: 150px;
                            border-radius: 8px;                      
                            margin-top:12px;  
                            margin-bottom: 10px;
                            // background: #424242;
                            @include flex(row, nowrap, center, center);
                        }
                        .membersCountSelected img {
                            height: 25px;
                            width: 30px;
                            margin-right: 8px;
                        }
                        .membersCountSelected p {
                            margin: 0;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 34px;
                            color: #FFFFFF;
                            font-family: Cabin;
                            font-style: normal;
                        }
                        .chatIcon {
                            position: relative;
                            .messageCount {
                                position: absolute;
                                right:-6px;
                                top:-12px;
                                cursor: pointer;
                                width: 20px;        
                                height: 20px;        
                                background: #FF001F;
                                border-radius: 20px;
                                @include flex(row, nowrap, center, center);
                            }
                            .messageCount p {
                                color: #FFFFFF;
                                font-family: Cabin;
                                font-style: normal;
                                font-weight: bolder;
                                font-size: 13px;
                            }
                        }
                        .chatIcon img{ 
                            height: 27px;
                            cursor: pointer;    
                        }
                        .chatIconSelected {
                            background: #424242;
                            padding: 5px 40px;
                            border-radius: 8px;
                        }
                        .chatIconSelected img {
                            height: 27px;
                        }
                    }                
                    .memberListContainer {
                        min-height: 200px;
                        overflow-y: scroll;
                        @include flex(column, nowrap, flex-start, center);
                       }               
                    .chatListContainer {
                        width: 340px;
                        padding: 10px;
                        margin-bottom: 10px;
                        border-radius: 8px;
                        background: #424242;
                        min-height: 200px;
                        height:400px;
                        overflow-y: scroll;
                        @include flex(column, nowrap, flex-start, center);
                        .chatList {
                            width: 100%;
                            overflow-y: scroll;
                            @include flex(column-reverse, nowrap, flex-start, unset);                          
                            height:  calc(100% - 40px);
                            .messageBox {
                                width: 100%;
                                display: flex;
                                margin: 4px 0px;
                                padding: 10px 0px;                            
                                justify-content: flex-end;
                                align-items: flex-end;
                                .message {
                                    width: 210px;
                                    padding: 10px;     
                                    border-radius: 8px;
                                    position: relative;
                                    .senderName {
                                        margin: 0;
                                        position: relative;
                                        color: #FFFFFF;
                                        text-align: right;
                                        font-size: 10px;
                                        font-family: Cabin;
                                        font-style: normal;
                                        font-weight: 300;
                                    }
                                }
                                .message span {
                                    position: absolute;
                                    top: -20px;
                                    color: #FFFFFF;
                                    font-family: Cabin;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 13px;
                                }
                                .message p {
                                    margin: 0;
                                    font-size: 14px;
                                    font-family: Cabin;
                                    font-style: normal;
                                    font-weight: 500;
                                    word-break: break-word;
                                }
                            }
                            .messageBox img {
                                height: 30px;
                                width: 30px;
                                border-radius: 20px;
                                object-fit: cover;
                            }
                        }
                        .chatBox {
                            width: 100%;
                            position: relative;
                            @include flex(row, nowrap, space-between, center);    
                            .sendButton {
                                background: #FF0042;
                                border-radius: 7px;   
                                padding: 10px;
                                height: 40px;
                                width: 40px;
                                cursor: pointer;
                                @include flex(row, nowrap, center, center);    
                            }
                            .sendButton img {
                                height: 18px;
                            }
                            .selectedUser {
                                height: 30px;
                                right:60px;
                                position: absolute;
                                width: 30px;
                                cursor: pointer;
                                border-radius: 7px;
                                background: #282828;
                                @include flex(row, nowrap, center, center);    
                            }
                            .selectedUser img {
                                height: 22px;
                            }
                            .chatDropDown {
                                position: absolute;    
                                width:125px;
                                right: 0;
                                padding: 0px 0px 0px 5px;
                                // top: -110px;
                                background: #282828;
                                box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
                                border-radius: 8px;
                                .selUserType {
                                    cursor: pointer;
                                    border-image: linear-gradient(
                                        80deg,#28282828,#FFFFFF,#28282828) 10;
                                    @include flex(row, nowrap, flex-start, center);    
                                }
                                .selUserType img {
                                    margin-right: 6px;
                                    margin-left: 5px;
                                    height: 22px;
                                }
                                .selUserType p {
                                    color: #FFFFFF;
                                    font-family: Cabin;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                }
                            }
                        }
                        .chatBox input {
                            width: 270px;
                            height: 40px; 
                            outline: none !important;
                            padding: 10px 45px 10px 10px;
                            border-radius: 7px;
                            border: 1px solid #FFFFFF;
                            background: #FFFFFF;
                            font-size: 14px;
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: 300;
                        }
                        .chatBox input::placeholder {
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                          }
                          
                          .chatBox input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                          }
                          
                          .chatBox input::-ms-input-placeholder { /* Microsoft Edge */
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                          }
                       }    
                }
               
            }  
           
        }
        .statsContainer {
            position: relative;        
            .showStats {
                position: absolute;
                z-index: 99999;
                right: 48%;
                @include flex(row, nowrap, space-evenly, center);
                width: 45px;
                bottom: 0;
                padding: 10px 0px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.6);
            }
            .fullScreen {
                position: absolute;
                right: 2%;
                bottom: 20%;
                @include flex(row, nowrap, center, center);
                @include dimensions(60px, 60px);
                // background: rgba(0, 0, 0, 0.5);     
                .fullScreenImage {
                    cursor: pointer;
                    @include dimensions(40px, 50px);            
                }
                .audioIcon {
                    height: 24px;
                    width: 30px;
                    position: absolute;
                    cursor: pointer;
                    top:20px;
                    left: -45px;
                }
            }
            .statsBox {
                padding: 0px 40px;
                width: 550px;
                height:100px;
                position: relative;
                margin:0px auto;
                position: relative;
                .statsImage {
                    position: absolute;
                    width: 475px;
                    bottom: 0;
                }
                .hideStats {
                    position: absolute;
                    z-index: 99999;
                    right: 45%;
                    top: -17%;
                    width: 45px;
                    padding: 10px 0px;
                    @include flex(row, nowrap, space-evenly, center);
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: rgba(0, 0, 0, 0.6);
                }
           }
        }

    }
}

// @media only screen and (min-width: 320px) and (max-width: 479px) and (orientation : portrait) {
//     .Casting {
//         /* Rotate the content container */
//         transform: rotate(-90deg);
//         transform-origin: left top;
//         /* Set content width to viewport height */
//         width: 100vh;
//         /* Set content height to viewport width */
//         // overflow-x: hidden;
//         overflow-x: scroll;
//         overflow-y: scroll;
//         height: 100vw;
//         position: absolute;
//         top: 100%;
//         left: 0;
//     }
// }

// @media only screen and (min-width: 480px) and (max-width: 767px) and (orientation : portrait) {
//     .Casting {
//         /* Rotate the content container */
//         transform: rotate(-90deg);
//         transform-origin: left top;
//         /* Set content width to viewport height */
//         width: 100vh;
//         /* Set content height to viewport width */
//         // overflow-x: hidden;
//         overflow-x: scroll;
//         overflow-y: scroll;
//         height: 100vw;
//         position: absolute;
//         top: 100%;
//         left: 0;
//     }
//  }