.loader {
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.6;
    z-index:9999;
    position:fixed;
    
    svg {
        position:fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

