@import './Variables.scss';

@mixin flex( $direction, $wrap, $content, $item ) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $content;
    align-items: $item;
}

@mixin font($size, $weight) {
    font : {
        family: $Font_avenir;
        size: $size;
        weight: $weight;
    }
}

@mixin border($size, $style, $color) {
    border : {
        width: $size;
        style: $style;
        color: $color;
    }
}

@mixin dimensions( $height, $width ) {
    height: $height;    
    width : $width;
}

@mixin backgroundImage ($URL) {
    min-width: 100%;
    min-height: 100vh;
    background-image: url($URL);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
