@import '../../../Sass/Mixins.scss';
@import '../../../Sass/Variables.scss';

.MemberList {
    width: 360px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 10px;

    @include flex(row, nowrap, space-between, center);
    .memberListinfoContainer {
        width: 200px;
        position: relative;
        @include flex(row, nowrap, flex-start, center);
        .circularBarDiv {
            @include flex(row, nowrap, center, center);
            @include dimensions(50px, 50px);                    
            margin-right: 4px;
            .userImage {
                background-image: url("../../../assets/Images/dummy.jpg");
                background-size: cover;
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(44px, 44px);    
                object-fit: cover;
            }    
        }            
        .cameraIcon {
            position: absolute;
            right: -30px;
            cursor: pointer;
        }
    }
    .calorieInfo {
        width: 60px;
        @include flex(row, nowrap, flex-start, center);
        .calorieIcon {
            margin-right: 3px;
            @include dimensions(18px, 18px);    
        }
    }
    .rankText {
        width: 40px;
        margin: 0;
        text-align: center;
        font-family: Cabin;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
    }
    .infoText {
        margin: 0;
        font-family: Cabin;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
    }
}

@media screen and (min-width: 1224px)and (max-width: 1500px) {
    .MemberList {
        width: 340px;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 10px;
    
        @include flex(row, nowrap, space-between, center);
        .memberListinfoContainer {
            width: 200px;
            position: relative;
            @include flex(row, nowrap, flex-start, center);
            .circularBarDiv {
                @include flex(row, nowrap, center, center);
                @include dimensions(50px, 50px);                    
                margin-right: 6px;
                .userImage {
                    border-radius: 26px;
                    @include border(0.5px, solid, rgba(0,0,0,0.5));
                    @include dimensions(44px, 44px);    
                    object-fit: cover;
                }    
            }            
            .cameraIcon {
                position: absolute;
                right: -30px;
                cursor: pointer;
            }
        }
        .calorieInfo {
            width: 55px;
            @include flex(row, nowrap, flex-start, center);
            .calorieIcon {
                margin-right: 3px;
                @include dimensions(18px, 18px);    
            }
        }
        .rankText {
            width: 37px;
            text-align: center;
            margin: 0;
            font-family: Cabin;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
        }
        .infoText {
            margin: 0;
            font-family: Cabin;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 29px;
        }
    }
}