@import './../../Sass/Variables';
@import './../../Sass/Mixins';


.Home {
    background-color: $_white;

    .pinkDiv {
        padding: 110px;
        position: relative;
        background-color: $_pink;     
        .logoImage {
            position: absolute;
            top: 15%;
            left: 7%;
            @include dimensions( 60px, 120px ); 
        }  
    }     
    .containerDiv {
        position: relative;
        height: 1000px;
        .containerBox {
            width: 70%;
            position: absolute;
            top: -10%;
            left: 15%;  
            border-radius: 5px;
            border: 1px solid #E5E5E5;
            background-color: #FFFFFF;
            @include flex(column, nowrap, center, center);    
            box-shadow: 3px 4px 4px 2px rgba(198,198,198,0.5);
            .scanContainer {
                padding: 40px 0px;
                width: 100%;
                @include flex(row, wrap, inherit, center);    
                    .stepsDiv {
                        flex-basis: 52%;
                        .imagesIconsClass {
                            display: flex;
                            align-items: center;
                            color: rgba(0,0,0,0.58);
                            @include font(18px, 500);
                        }
                        .scanIcon {
                            margin-left:5px;
                            margin-right:5px;
                            @include dimensions(20px, 20px);
                        }
                        h2 {
                            color: #0C0C0C;
                            @include font(35px, 900);
                        }
                        p { 
                            color: rgba(0,0,0,0.58);
                            @include font(18px, 500);
                        }
                    }
                    .scan {
                        // flex-basis: 250px;
                        padding: 20px;
                         @include flex(column, nowrap, center, center);          
                    }
            }
            .videoContainer {
                padding: 2% 10% 10% 10%;
                width: 100%;
                @include flex(column, nowrap, space-between, center);          
                .videoTagDiv {
                    position: relative;
                    @include dimensions(430px, 100%);
                    .playIcon {
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width:  100px;
                        height: 100px;
                        position: absolute;
                        border-radius: 50px;
                        background: rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            font-size: 35px;    
                        }
                    }
                    .videoImage {
                        box-shadow: 1px 1px 4px 2px rgba(198,198,198,0.5);
                        @include dimensions(100%, 100%);
                        object-fit: cover
                    }

                }
                p{
                    color: $_pink;
                    @include font(14px, 400); 
                }
            }
    
        }
    }
    .footer {
        padding: 20px 0px;            
        background-color: $_black;
        @include flex(row, nowrap, center, center);
        p {
            color: $_white;
            @include font(15px, 400);
        }
    }
} 

@media only screen and (min-width: 320px) and (max-width: 479px){
    .Home {
     
        .pinkDiv {
            padding: 20px 0px;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            .logoImage {
                position: relative !important;
                top:0;
                left:0;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            height:auto;
            .containerBox {
                width: 100%;  
                position: relative !important; 
                top:0;
                left:0;
                box-shadow: none;
                .scanContainer {
                    padding: 30px 0px;
                    width: 100%; 
                    @include flex(column, wrap, inherit, center);    
                        .stepsDiv {
                            flex-grow: 1;
                            padding:0px 10px;
                            .imagesIconsClass {
                                @include font(11px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(15px, 15px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(17px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(11px, 500);
                            }
                        }
                        .scan {
                            flex-grow: 1;
                            padding: 10px;
                            // svg {
                            //     @include dimensions(230px !important, 230px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(240px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }
 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .Home {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .pinkDiv {
            padding: 20px 0px;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            .logoImage {
                position: relative !important;
                top:0;
                left:0;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            height:auto;
            .containerBox {
                width: 100%;  
                position: relative !important; 
                top:0;
                left:0;
                box-shadow: none;
                .scanContainer {
                    padding: 30px 0px;
                    width: 100%; 
                    @include flex(column, wrap, inherit, center);    
                        .stepsDiv {
                            flex-grow: 1;
                            .imagesIconsClass {
                                @include font(11px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(15px, 15px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(23px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(15px, 500);
                            }
                        }
                        .scan {
                            flex-grow: 1;
                            padding: 10px;
                            // svg {
                            //     @include dimensions(250px !important, 250px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(310px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {

    .Home {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height:100vh;
        .pinkDiv {
            padding: 70px;
            .logoImage {
                top: 15%;
                left: 7%;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            flex-grow: 1;
            .containerBox {
                width: 70%;
                top: -6%;
                left: 15%;  
                .scanContainer {
                    padding: 30px 0px;
                    width: 100%; 
                    @include flex(row, wrap, inherit, center);    
                        .stepsDiv {
                            .imagesIconsClass {
                                @include font(11px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(15px, 15px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(15px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(11px, 500);
                            }
                        }
                        .scan {
                            padding: 10px;
                            // svg {
                            //     @include dimensions(170px !important, 170px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(310px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }

}

@media screen and (min-width: 768px)and (max-width: 1023px) and (orientation : landscape) { 
    .Home {
        .pinkDiv {
            padding: 70px;
            .logoImage {
                top: 15%;
                left: 7%;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            height: 700px;
            .containerBox {
                width: 70%;
                top: -6%;
                left: 15%;  
                .scanContainer {
                    padding: 30px 0px;
                    width: 100%; 
                    @include flex(row, wrap, inherit, center);    
                        .stepsDiv {
                            .imagesIconsClass {
                                @include font(11px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(15px, 15px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(15px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(11px, 500);
                            }
                        }
                        .scan {
                            padding: 10px;
                            // svg {
                            //     @include dimensions(170px !important, 170px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(310px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }
}

@media screen and (min-width: 1024px)and (max-width: 1223px)  { 
    .Home {
        .pinkDiv {
            padding: 85px;
            .logoImage {
                top: 15%;
                left: 7%;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            height: 850px;
            .containerBox {
                width: 70%;
                top: -8%;
                left: 15%;  
                .scanContainer {
                    padding: 30px 0px;
                    width: 100%; 
                    @include flex(row, wrap, inherit, center);    
                        .stepsDiv {
                            .imagesIconsClass {
                                @include font(15px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(15px, 15px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(22px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(15px, 500);
                            }
                        }
                        .scan {
                            padding: 20px;
                            // svg {
                            //     @include dimensions(210px !important, 210px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(370px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }
}
@media screen and (min-width: 1224px)and (max-width: 1500px) { 
    .Home {
        .pinkDiv {
            padding: 85px;
            .logoImage {
                top: 15%;
                left: 7%;
                @include dimensions( 50px, 100px ); 
            }  
        }     
        .containerDiv {
            position: relative;
            height: 900px;
            .containerBox {
                width: 70%;
                top: -8%;
                left: 15%;  
                .scanContainer {
                    padding: 40px 0px;
                    width: 100%; 
                    @include flex(row, wrap, inherit, center);    
                        .stepsDiv {
                            .imagesIconsClass {
                                @include font(18px, 500);
                            }
                            .scanIcon {
                                margin-left:5px;
                                margin-right:5px;
                                @include dimensions(20px, 20px);
                            }
                            h2 {
                                color: #0C0C0C;
                                @include font(26px, 900);
                            }
                            p { 
                                color: rgba(0,0,0,0.58);
                                @include font(16px, 500);
                            }
                        }
                        .scan {
                            padding: 20px;
                            // svg {
                            //     @include dimensions(230px !important, 230px !important);
                            // }

                        }
                }
                .videoContainer {
                    padding: 2% 10% 7% 10%;
                    .videoTagDiv {
                        @include dimensions(370px, 100%);    
                    }
                    p{
                        color: $_pink;
                        @include font(14px, 400); 
                    }
                }
        
            }
        }
        .footer {
            padding: 20px 0px;            
            p {
                color: $_white;
                @include font(15px, 400);
            }
        }
    }
}