@import '../../../Sass/Variables.scss';
@import '../../../Sass/Mixins.scss';

.BoardUserBlack {
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    padding: 15px 20px;            
    @include flex(row, nowrap, space-between, center);
    .userInfo {
        width: 205px;
        position: relative;
        padding-right: 15px;
        @include flex(row, nowrap, flex-start, center);
        p {
            line-height: 18px;
            // //word-break: break-all;
            margin: 0px 0px 0px 10px;
            color: $_white;
            @include font(18px, 300);
        }   
        .userIndex {
            width: 90px;
            @include flex(row, nowrap, space-between, center); 
            .circularBarDiv {
                @include dimensions(58px, 58px);                    
            }
        }
        .userImage {
            border-radius: 26px;
            @include border(0.5px, solid, rgba(0,0,0,0.5));
            @include dimensions(52px, 52px);    
            object-fit: cover;
        }    
        .cameraIcon {
            position: absolute;
            right: -12px;
            cursor: pointer;
        }
    }

    .calorieInfo {
        width: 50px;
        @include flex(row, nowrap, space-between, center);
        .calorieIcon {
            @include dimensions(18px, 18px);    
        }
        p {
            margin: 0;
            color: $_white;
            @include font(16px, 300);
        }   
    }
}

.BoardUserWhite {
    background-color: $_white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    padding: 15px 20px;            
    @include flex(row, nowrap, space-between, center);
    .userInfo {
        width: 205px;
        position: relative;
        padding-right: 15px;
        @include flex(row, nowrap, flex-start, center);
        p {
            color: $_black;
            line-height: 18px;
            //word-break: break-all;
            margin: 0px 0px 0px 10px;
            @include font(18px, 300);
        }   
        .userIndex {
            width: 90px;
            @include flex(row, nowrap, space-between, center); 
            .circularBarDiv {
                @include dimensions(58px, 58px);                    
            }
        }
        .userImage {
            border-radius: 26px;
            @include border(0.5px, solid, rgba(0,0,0,0.5));
            @include dimensions(52px, 52px);    
            object-fit: cover;
        }    
        .cameraIcon {
            position: absolute;
            right: -12px;
            cursor: pointer;
        }
    }
    .calorieInfo {
        width: 50px;
        .calorieIcon {
            @include dimensions(22px, 22px);    
        }
        p {
            margin: 0;
            color: $_black;
            @include font(18px, 300);
        }   
        @include flex(row, nowrap, space-between, center);
    }
}   

@media screen and (min-width: 320px)and (max-width: 479px) { 
    .BoardUserBlack {
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 9px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 150px;
            position: relative;
            padding-right: 5px;
            @include flex(row, nowrap, flex-start, center);
            p {
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 5px;
                color: $_white;
                @include font(12px, 300);
            }   
            .userIndex {
                width: 80px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
                height: 10px;
            }
        }
    
        .calorieInfo {
            width: 45px;
            @include flex(row, nowrap, space-between, center);
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(15px, 300);
            }   
        }
    }
    
    .BoardUserWhite {
        background-color: $_white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 9px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 150px;
            position: relative;
            padding-right: 5px;
            @include flex(row, nowrap, flex-start, center);
            p {
                color: $_black;
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 5px;
                @include font(12px, 300);
            }   
            .userIndex {
                width: 80px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
                height: 10px;
            }
        }
        .calorieInfo {
            width: 45px;
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_black;
                @include font(15px, 300);
            }   
            @include flex(row, nowrap, space-between, center);
        }
    }       
}

@media screen and (min-width: 480px)and (max-width: 767px) { 
    .BoardUserBlack {
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 9px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 150px;
            position: relative;
            padding-right: 5px;
            @include flex(row, nowrap, flex-start, center);
            p {
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 5px;
                color: $_white;
                @include font(12px, 300);
            }   
            .userIndex {
                width: 80px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
                height: 10px;
            }
        }
    
        .calorieInfo {
            width: 45px;
            @include flex(row, nowrap, space-between, center);
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(15px, 300);
            }   
        }
    }
    
    .BoardUserWhite {
        background-color: $_white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 9px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 150px;
            position: relative;
            padding-right: 5px;
            @include flex(row, nowrap, flex-start, center);
            p {
                color: $_black;
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 5px;
                @include font(12px, 300);
            }   
            .userIndex {
                width: 80px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
                height: 10px;
            }
        }
        .calorieInfo {
            width: 45px;
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_black;
                @include font(15px, 300);
            }   
            @include flex(row, nowrap, space-between, center);
        }
    }       
}


@media screen and (min-width: 768px)and (max-width: 1023px) { 
    .BoardUserBlack {
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 10px 5px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 180px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                color: $_white;
                @include font(14px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
    
        .calorieInfo {
            width: 45px;
            @include flex(row, nowrap, space-between, center);
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(16px, 300);
            }   
        }
    }
    
    .BoardUserWhite {
        background-color: $_white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 10px 5px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 180px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                color: $_black;
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                @include font(14px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
        .calorieInfo {
            width: 45px;
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_black;
                @include font(18px, 300);
            }   
            @include flex(row, nowrap, space-between, center);
        }
    }       
}





@media screen and (min-width: 1024px)and (max-width: 1223px) { 
    .BoardUserBlack {
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 12px 15px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 185px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                color: $_white;
                @include font(14px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
    
        .calorieInfo {
            width: 50px;
            @include flex(row, nowrap, space-between, center);
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(16px, 300);
            }   
        }
    }
    
    .BoardUserWhite {
        background-color: $_white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 12px 15px; 
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 185px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                color: $_black;
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                @include font(14px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
        .calorieInfo {
            width: 50px;
            .calorieIcon {
                @include dimensions(22px, 22px);    
            }
            p {
                margin: 0;
                color: $_black;
                @include font(18px, 300);
            }   
            @include flex(row, nowrap, space-between, center);
        }
    }       
}

@media screen and (min-width: 1224px)and (max-width: 1500px) { 

    .BoardUserBlack {
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 15px;
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 205px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                color: $_white;
                @include font(16px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
    
        .calorieInfo {
            width: 50px;
            @include flex(row, nowrap, space-between, center);
            .calorieIcon {
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(16px, 300);
            }   
        }
    }
    
    .BoardUserWhite {
        background-color: $_white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        padding: 8px 15px; 
        @include flex(row, nowrap, space-between, center);
        .userInfo {
            width: 205px;
            position: relative;
            padding-right: 15px;
            @include flex(row, nowrap, flex-start, center);
            p {
                color: $_black;
                line-height: 18px;
                //word-break: break-all;
                margin: 0px 0px 0px 10px;
                @include font(16px, 300);
            }   
            .userIndex {
                width: 90px;
                @include flex(row, nowrap, space-between, center); 
                .circularBarDiv {
                    @include dimensions(58px, 58px);                    
                }
            }
            .userImage {
                border-radius: 26px;
                @include border(0.5px, solid, rgba(0,0,0,0.5));
                @include dimensions(52px, 52px);    
                object-fit: cover;
            }    
            .cameraIcon {
                position: absolute;
                right: -12px;
                cursor: pointer;
            }
        }
        .calorieInfo {
            width: 50px;
            .calorieIcon {
                @include dimensions(22px, 22px);    
            }
            p {
                margin: 0;
                color: $_black;
                @include font(18px, 300);
            }   
            @include flex(row, nowrap, space-between, center);
        }
    }   

}