@import '../../../Sass/Variables.scss';
@import '../../../Sass/Mixins.scss';

.UserVideo {
    margin-bottom: 15px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include dimensions( 130px, 210px );
    .antVideo {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
        background-color: #1E1E1E;
    }   
    .videoLabel {
        width:100%;
        bottom: 0;
        padding:10px;
        position: absolute;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
        @include flex(row, nowrap, space-between, center);
        p {
            font-family: 'Cabin';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;           
            margin:0;
            color: #FFFFFF;
        }
        .videoCalorieInfo {
            width: 48px;
            @include flex(row, nowrap, flex-start, center);
            .videoCalorieIcon {
                margin-right: 3px;
                @include dimensions(18px, 18px);    
            }
            p {
                margin: 0;
                font-family: 'Cabin';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }   
        }
    }
}

@media screen and (min-width: 320px)and (max-width: 479px) {  
    .UserVideo {
        margin-bottom: 5px;
        position: relative;
        background-color: $_white;
        @include border(3px, solid, grey);   
        @include dimensions( 85px, 150px );
        .antVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #1E1E1E;
        }
        .videoLabel {
            width:100%;
            bottom: 0;
            padding:10px;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
            @include flex(row, nowrap, space-between, center);
            p {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }
            .videoCalorieInfo {
                width: 52px;
                @include flex(row, nowrap, space-between, center);
                .videoCalorieIcon {
                    @include dimensions(22px, 22px);    
                }
                p {
                    margin: 0;
                    color: $_white;
                    @include font(18px, 300);
                }   
            }
        }
    }    
}

@media screen and (min-width: 480px)and (max-width: 767px) {  
    .UserVideo {
        margin-bottom: 5px;
        position: relative;
        background-color: $_white;
        @include border(3px, solid, grey);   
        @include dimensions( 82px, 148px );
        .antVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #1E1E1E;
        }
        .videoLabel {
            width:100%;
            bottom: 0;
            padding:10px;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
            @include flex(row, nowrap, space-between, center);
            p {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }
            .videoCalorieInfo {
                width: 52px;
                @include flex(row, nowrap, space-between, center);
                .videoCalorieIcon {
                    @include dimensions(22px, 22px);    
                }
                p {
                    margin: 0;
                    color: $_white;
                    @include font(18px, 300);
                }   
            }
        }
    }    
}

@media screen and (min-width: 768px)and (max-width: 1023px) {  
    .UserVideo {
        margin-bottom: 10px;
        position: relative;
        background-color: $_white;
        @include border(3px, solid, grey);   
        @include dimensions( 100px, 185px );
        .antVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #1E1E1E;
        }
        .videoLabel {
            width:100%;
            bottom: 0;
            padding:10px;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
            @include flex(row, nowrap, space-between, center);
            p {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }
            .videoCalorieInfo {
                width: 52px;
                @include flex(row, nowrap, space-between, center);
                .videoCalorieIcon {
                    @include dimensions(22px, 22px);    
                }
                p {
                    margin: 0;
                    color: $_white;
                    @include font(18px, 300);
                }   
            }
        }
    }    
}    

@media screen and (min-width: 1024px)and (max-width: 1223px) { 
    .UserVideo {
        margin-bottom: 15px;
        position: relative;
        background-color: $_white;
        @include border(3px, solid, grey);   
        @include dimensions( 95px, 190px );
        .antVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: #1E1E1E;
        }
        .videoLabel {
            width:100%;
            bottom: 0;
            padding:10px;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
            @include flex(row, nowrap, space-between, center);
            p {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }
            .videoCalorieInfo {
                width: 52px;
                @include flex(row, nowrap, space-between, center);
                .videoCalorieIcon {
                    @include dimensions(22px, 22px);    
                }
                p {
                    margin: 0;
                    color: $_white;
                    @include font(18px, 300);
                }   
            }
        }
    }
}

@media screen and (min-width: 1224px)and (max-width: 1500px) { 
    .UserVideo {
        margin-bottom: 15px;
        position: relative;
        background-color: $_white;
        border-radius: 8px;
        @include dimensions( 130px, 200px );
        .antVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            background-color: #1E1E1E;
        }
        .videoLabel {
            width:100%;
            bottom: 0;
            padding:10px;
            position: absolute;
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(83,83,83,0.22) 30.24%, rgba(0,0,0,0.45) 100%);
            @include flex(row, nowrap, space-between, center);
            p {
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;           
                margin:0;
                color: #FFFFFF;
            }
            .videoCalorieInfo {
                width: 46px;
                @include flex(row, nowrap, flex-start, center);
                .videoCalorieIcon {
                    margin-right: 2px;
                    @include dimensions(17px, 17px);    
                }
                p {
                    margin: 0;
                    color: $_white;
                    @include font(17px, 300);
                }   
            }
        }
    }   
}