@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  background-color: rgba(255,255,255,0);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0);
  font-family: Avenir;
}

input { 
  font-family: Avenir !important;   
  outline: none !important;
}

select {
  outline: none !important;
}

textarea {
  resize: none;
  outline: none !important;
}

button {
  outline: none !important;
  border: none !important;
}

label {
  margin-bottom: 0 !important;
}

 /* Chrome, Safari, Edge, Opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

