@import '../../../Sass/Variables.scss';  
@import '../../../Sass/Mixins.scss';

.UserStats {
    top: 33px;
    left: 75px;
    position: absolute;
    @include flex(row, nowrap, space-between, center);               
    .heartRateBox  {
        width: 300px;
        padding: 5px 5px 5px 15px;
        border: 1.5px solid #F57C18;
box-sizing: border-box;
backdrop-filter: blur(19px);
margin-right: 22px;
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
        .heartIcon {
            font-size: 37px;
            color: $_white;
        }
        @include flex(row, nowrap, space-between, center);               
        .averageBox{
            width: 64px;
            @include flex(column, nowrap, space-between, center);               
            p{
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -o-user-select: none;
                user-select: none;
                margin: 0;
                color: $_white;
                font-family: 'Cabin';
                font-size: 24px;
                font-weight: bold;
            }
            span{
                margin: 0;
                color: $_white;
                font-family: 'Cabin';
                font-size: 12px;
                font-weight: 300;
            }
        }
    }
    .calorieBox {
        padding: 9px 0px;
        border: 1.5px solid #F57C18;
box-sizing: border-box;
backdrop-filter: blur(19px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8px;
        width: 100px;
        @include flex(row, nowrap, space-around, center);
        .calorieBoxIcon {
            @include dimensions(35px, 35px);    
        }
        .rankIcon {
            @include dimensions(34px, 26px);    
        }
        p {

            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            margin: 0;
            font-family: 'Cabin';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.02em;
            
            color: #FFFFFF;
        }   
    }

}

@media screen and (min-width: 320px)and (max-width: 479px) {  
    .UserStats {
        @include flex(row, nowrap, space-between, center);               
        .heartRateBox  {
            .heartIcon {
                font-size: 30px;
                color: $_white;
            }
            @include flex(row, nowrap, space-between, center);               
            .averageBox{
                width: 45px;
                @include flex(column, nowrap, space-between, center);               
                p{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 20px;
                    font-weight: bold;
                }
                span{
                    margin: 0;
                    color: $_white;
                    @include font(10px, 300);
                }
            }
        }
        .calorieBox {
            width: 60px;
            @include flex(row, nowrap, space-around, center);
            .calorieBoxIcon {
                @include dimensions(25px, 25px);    
            }
            .rankIcon {
                @include dimensions(28px, 20px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(20px, bold);
            }   
        }
    
    }
    
}

@media screen and (min-width: 480px)and (max-width: 767px) {  
    .UserStats {
        @include flex(row, nowrap, space-between, center);               
        .heartRateBox  {
            .heartIcon {
                font-size: 30px;
                color: $_white;
            }
            @include flex(row, nowrap, space-between, center);               
            .averageBox{
                width: 45px;
                @include flex(column, nowrap, space-between, center);               
                p{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 20px;
                    font-weight: bold;
                }
                span{
                    margin: 0;
                    color: $_white;
                    @include font(10px, 300);
                }
            }
        }
        .calorieBox {
            width: 60px;
            @include flex(row, nowrap, space-around, center);
            .calorieBoxIcon {
                @include dimensions(25px, 25px);    
            }
            .rankIcon {
                @include dimensions(28px, 20px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(20px, bold);
            }   
        }
    
    }
    
}

@media screen and (min-width: 768px)and (max-width: 1023px) {  
    .UserStats {
        @include flex(row, nowrap, space-between, center);               
        .heartRateBox  {
            .heartIcon {
                font-size: 40px;
                color: $_white;
            }
            @include flex(row, nowrap, space-between, center);               
            .averageBox{
                width: 65px;
                @include flex(column, nowrap, space-between, center);               
                p{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 25px;
                    font-weight: bold;
                }
                span{
                    margin: 0;
                    color: $_white;
                    @include font(10px, 300);
                }
            }
        }
        .calorieBox {
            width: 80px;
            @include flex(row, nowrap, space-around, center);
            .calorieBoxIcon {
                @include dimensions(30px, 30px);    
            }
            .rankIcon {
                @include dimensions(28px, 20px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(25px, bold);
            }   
        }
    
    }
    
}

@media screen and (min-width: 1024px)and (max-width: 1223px) {  
    .UserStats {
        @include flex(row, nowrap, space-between, center);               
        .heartRateBox  {
            .heartIcon {
                font-size: 40px;
                color: $_white;
            }
            @include flex(row, nowrap, space-between, center);               
            .averageBox{
                width: 80px;
                @include flex(column, nowrap, space-between, center);               
                p{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 25px;
                    font-weight: bold;
                }
                span{
                    margin: 0;
                    color: $_white;
                    @include font(10px, 300);
                }
            }
        }
        .calorieBox {
            width: 100px;
            @include flex(row, nowrap, space-around, center);
            .calorieBoxIcon {
                @include dimensions(35px, 35px);    
            }
            .rankIcon {
                @include dimensions(32px, 24px);    
            }
            p {
                margin: 0;
                color: $_white;
                @include font(25px, bold);
            }   
        }
    
    }
    
}
@media screen and (min-width: 1224px)and (max-width: 1500px) {
    .UserStats {
        top: 36px;
        left: 75px;
        position: absolute;
        @include flex(row, nowrap, space-between, center);               
        .heartRateBox  {
            padding: 5px 5px 5px 15px;
            width:295px;
            border: 1.5px solid #F57C18;
    box-sizing: border-box;
    backdrop-filter: blur(19px);
    margin-right: 10px;
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 8px;
            .heartIcon {
                font-size: 37px;
                color: $_white;
            }
            @include flex(row, nowrap, space-between, center);               
            .averageBox{
                width: 65px;
                @include flex(column, nowrap, space-between, center);               
                p{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 22px;
                    font-weight: bold;
                }
                span{
                    margin: 0;
                    color: $_white;
                    font-family: 'Cabin';
                    font-size: 12px;
                    font-weight: 300;
                }
            }
        }
        .calorieBox {
            padding: 8px;
            border: 1.5px solid #F57C18;
    box-sizing: border-box;
    backdrop-filter: blur(19px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 8px;
            width: 100px;
            @include flex(row, nowrap, space-around, center);
            .calorieBoxIcon {
                @include dimensions(35px, 35px);    
            }
            .rankIcon {
                @include dimensions(34px, 26px);    
            }
            p {
                margin: 0;
                font-family: 'Cabin';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 29px;
                letter-spacing: 0.02em;
                
                color: #FFFFFF;
            }   
        }
    
    }
}