@import '../../Sass/Mixins.scss';
@import '../../Sass/Variables.scss';

.Casting {
    position: relative;
    @include flex(column, nowrap, space-between, unset);    
    @include dimensions( 100vh, 100%);
    // @include backgroundImage("../../assets/Images/signUpImage.jpg");


    .infoBox {
        padding: 0px 20px;
        @include flex(row, nowrap, space-between, center);
        .infoImageBox {
            @include flex(row, nowrap, center, center);
            @include dimensions(90px, 90px);
            background: rgba(0, 0, 0, 0.5);
            .infoImage{
                @include dimensions(60px, 60px);
                object-fit: cover;
            }        
        }
        .time {
            position: relative;
                .audioIcon {
                    color: rgb(255, 255, 255);
                    position: absolute;
                    bottom: 9%;
                    font-size: 28px;
                    cursor: pointer;
                    right: 31%;
                }

            P {
                @include font(35px, bold);  
                color: $_white;        
            }
        }
    }
    .membersBox {
        @include flex(row, nowrap, unset, flex-start);
        position: relative;
        margin-bottom: 20px;
        min-height: 200px;
        height: 600px;
        .hideVideo {
            position: absolute;
            top:3%;
            right: -30%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 10px;
            width: 90px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);
        }
        .hideVideoNew {
            position: absolute;
            top:7%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 90px;
            cursor: pointer;
            z-index: 999999;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);
        }
        .hideUnhide {
            position: absolute;
            top: 3%;
            left: -25%;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 45px;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);

        }
        .hideUnhidenew {
            position: absolute;
            top: 3%;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 10px 10px;
            width: 45px;
            z-index: 999999;
            right: 0;
            cursor: pointer;
            color: #FFFFFF;
            background-color: rgba(0,0,0,0.8);

        }
        .videoContainer {
            height: 100%;
            .videoSubContainer {
                height: 100%;
                overflow-y: scroll;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                .friendsBox {
                    width: 300px;
                    .friendsTitle {
                        position: fixed;
                        z-index: 99999;
                        width: 300px;
                        background-color: $_black;                                   
                        padding: 20px;
                        border-top-right-radius: 10px;
                        p {
                            color: $_white;
                            margin: 0;
                            @include font(20px, 400);
                        }
                    }
                    .videoList {
                        padding: 84px 10px 10px 10px;
                        background: rgba(0, 0, 0, 0.7);
                        @include flex(column, nowrap, space-between, center);
                    }
                }
            }
        }
        .boardContainer {
            height: 100%;
            .boardSubContainer {
                height: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                transition-property: opacity;
                transition-duration: 0.5s;
                transition-timing-function: linear;
                transition-delay: 0.2s;
            }
                // .boardBox {
                //     width: 350px;
                //     position: relative;
                //     right:0;
                //     border-bottom-left-radius: 20px;
                //     .boardTitle {
                //         position: fixed;
                //         z-index: 99999;
                //         width: 350px;
                //         background-color: $_black;                                   
                //         padding: 20px;
                //         border-top-left-radius: 20px;
                //         @include flex(row, nowrap, space-between, center);
                //         .titleText {
                //             color: $_white;
                //             margin: 0;
                //             @include font(20px, bold);
                //         }
                //     }            
                //     .userList {
                //         padding-top:62px;
                //         border-bottom-left-radius: 20px;
                //     }     
                // }
            }
           
        }        
    }
    .statsContainer {
        position: relative;        
        .fullScreen {
            position: absolute;
            right: 2%;
            bottom: 20%;
            @include flex(row, nowrap, center, center);
            @include dimensions(60px, 60px);
            // background: rgba(0, 0, 0, 0.5);     
            .fullScreenImage {
                cursor: pointer;
                @include dimensions(40px, 50px);            
            }
        }
        .statsBox {
            padding: 25px 50px;
            width: 730px;
            margin:0px auto;
            border-top-right-radius: 32px;
            border-top-left-radius: 32px;
            background: rgba(0, 0, 0, 0.7);
            position: relative;
            .hideStats {
                position: absolute;
                z-index: 99999;
                right: -10%;
                padding: 10px 20px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
       }
    }
   
}

@media screen and (min-width: 768px)and (max-width: 1023px) {  
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100%, 100%);
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);           
            .boardBox {
                width: 350px;
                border-bottom-left-radius: 20px;                            
                .userList {
                    height: 545px;
                    overflow-y: scroll;
                    border-bottom-left-radius: 20px;
                }     
            }
        }
    }
 }

@media screen and (min-width: 1024px)and (max-width: 1223px) {  
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .infoBox {
            padding: 0px 20px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(90px, 90px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(60px, 60px);
                }        
            }
            .time P {
                @include font(35px, bold);  
                color: $_white;        
            }
        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 200px;
            height: 500px;
            .hideVideo {
                position: absolute;
                top:3%;
                right: -32%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -29%;
                display: flex;
                align-items: center;
                width:90px;
                justify-content: space-evenly;
                padding: 10px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
            .friendsBox {
                width: 270px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                .friendsTitle {
                    position: fixed;
                    z-index: 99999;
                    width: 270px;
                    background-color: $_black;                                   
                    padding: 15px 20px;
                    border-top-right-radius: 10px;
                    p {
                        color: $_white;
                        margin: 0;
                        @include font(20px, 400);
                    }
                }
                .videoList {
                    padding: 84px 10px 10px 10px;
                    border-bottom-right-radius: 10px;
                    background: rgba(0, 0, 0, 0.5);
                    @include flex(column, nowrap, space-between, center);
                }
            }
        }
    }
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 300px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 300px;
                            background-color: $_black;                                   
                            padding: 20px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(20px, bold);
                            }
                        }            
                        .userList {
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
        
        }
       .statsBox {
            padding: 18px 35px;
            width: 620px;
            margin:0px auto;
            border-top-right-radius: 32px;
            border-top-left-radius: 32px;
            background: rgba(0, 0, 0, 0.7);
       }
    }
 }

@media screen and (min-width: 1224px)and (max-width: 1500px) { 
    .Casting {
        position: relative;
        @include flex(column, nowrap, space-between, unset);    
        @include dimensions( 100vh, 100%);
        // @include backgroundImage("../../assets/Images/signUpImage.jpg");
        .infoBox {
            padding: 0px 20px;
            @include flex(row, nowrap, space-between, center);
            .infoImageBox {
                @include flex(row, nowrap, center, center);
                @include dimensions(90px, 90px);
                background: rgba(0, 0, 0, 0.5);
                .infoImage{
                    @include dimensions(60px, 60px);
                }        
            }
            .time P {
                @include font(35px, bold);  
                color: $_white;        
            }
        }
        .membersBox {
            @include flex(row, nowrap, unset, flex-start);
            min-height: 200px;
            height: 550px;
            .hideVideo {
                position: absolute;
                top:3%;
                right: -32%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideVideoNew {
                position: absolute;
                top:3%;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                align-items: center;
                width: 90px;
                cursor: pointer;
                z-index: 999999;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
            }
            .hideUnhide {
                position: absolute;
                top:3%;
                left: -27%;
                display: flex;
                align-items: center;
                width:90px;
                justify-content: space-evenly;
                padding: 10px 10px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .hideUnhidenew {
                position: absolute;
                z-index: 999999;
                right: 0;
                align-items: center;
                display: flex;
                justify-content: space-evenly;
                padding: 10px 10px;
                width: 90px;
                cursor: pointer;
                color: #FFFFFF;
                background-color: rgba(0, 0, 0, 0.8);
    
            }
            .videoContainer {
                height: 100%;
                .videoSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-bottom-right-radius: 20px;
                    border-top-right-radius: 20px; 
                    .friendsBox {
                        width: 270px;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        .friendsTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 270px;
                            background-color: $_black;                                   
                            padding: 15px 20px;
                            border-top-right-radius: 10px;
                            p {
                                color: $_white;
                                margin: 0;
                                @include font(20px, 400);
                            }
                        }
                        .videoList {
                            padding: 84px 10px 10px 10px;
                            border-bottom-right-radius: 10px;
                            background: rgba(0, 0, 0, 0.5);
                            @include flex(column, nowrap, space-between, center);
                        }
                    }
                }
            }
          
            .boardContainer {
                height: 100%;
                .boardSubContainer {
                    height: 100%;
                    overflow-y: scroll;
                    border-top-left-radius: 20px;
                    .boardBox {
                        width: 330px;
                        border-bottom-left-radius: 20px;
                        .boardTitle {
                            position: fixed;
                            z-index: 99999;
                            width: 330px;
                            background-color: $_black;                                   
                            padding: 20px;
                            border-top-left-radius: 20px;
                            @include flex(row, nowrap, space-between, center);
                            .titleText {
                                color: $_white;
                                margin: 0;
                                @include font(20px, bold);
                            }
                        }            
                        .userList {
                            overflow-y: scroll;
                            border-bottom-left-radius: 20px;
                        }     
                    }
                }
            }
           
        }
       .statsBox {
            padding: 18px 35px;
            width: 650px;
            margin:0px auto;
            border-top-right-radius: 32px;
            border-top-left-radius: 32px;
            background: rgba(0, 0, 0, 0.7);
       }
    }
}